<div class="col-sm-4 col-xs-12">
  <div class="productBox">
    <div class="productImage clearfix">
      <%= link_to image_tag(product_box.display_image.attachment(:product)), potepan_product_path(product_box.id) %>
    </div>
    <div class="productCaption clearfix">
      <%= link_to potepan_product_path(product_box.id) do %>
        <h5><%= product_box.name %></h5>
        <h3><%= product_box.display_price %></h3>
      <% end %>
    </div>
  </div>
</div>