<% provide(:title, @taxon.name) %>
<!-- LIGHT SECTION -->
<%= render 'potepan/shared/light_section', product: @taxon, shop: true %>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'panel', taxonmies: @taxonmies %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filter_area' %>
        <div class="row">
          <%= render partial: 'product_box', collection: @product_boxs %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- PARTNERS LOGO -->
<%= render 'potepan/shared/partners_logo' %>