<%= provide(:title, @product.name) %>
<!-- LIGHT SECTION -->
<%= render 'potepan/shared/light_section', product: @product %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'potepan/products/item_images', product: @product %>
    <%= render 'potepan/products/related_products', product: @product %>
  </div>
</section>